<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org/slizaa/hierarchicalgraph/graphdb"
            class="org.slizaa.hierarchicalgraph.graphdb.model.Neo4jHierarchicalgraphPackage"
            genModel="model/hierarchicalgraph-graphdb.genmodel"/>
   </extension>
   
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.slizaa.hierarchicalgraph.graphdb.model.impl.CustomGraphDbHierarchicalgraphFactoryImpl"
            uri="http://org/slizaa/hierarchicalgraph/graphdb">
      </factory>
   </extension>

</plugin>
